/* .ant-list.split .ant-list-item {
  border-bottom: none;
}

.ant-list.item .anticon {
  min-width: 15%;
  text-align: left;
}

.ant-item-list-meta {
  padding-left: 40px;
} */

/* .ant-list-item-meta-description {
  letter-spacing: 0.15px;
  font-size: 16px;
  color: #97afd5;
} */

.ant-list-split .ant-list-item {
  border-bottom: none;
}
